@import "../../../style/colors/colors.scss";

#home {
  overflow: auto;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  padding-top: 100px;

  .food-category {
    z-index: 11;
    cursor: pointer;
    position: relative;
    transition: transform 0.2s, width 0.8s;
    overflow: hidden;
    width: 100%;

    &:hover  {
      .food-category__background {
        filter: brightness(0.7);
        transform: scale(1.1);
      }
    }

  
    .food-category__background {
      pointer-events: none;
      transition: 0.2s ease-in-out;
      filter: brightness(0.4);
      height: 100%;
      width: 100%;
      position: absolute;
      background-position: center;
      background-size: cover;
    }
  }

  @media screen and (min-width: 760px) {

    padding-top: 0;

    .food-category {
      z-index: 0;
      cursor: pointer;
      position: relative;
      transition: transform 0.2s, width 0.8s;
      overflow: hidden;
      flex: 1;
      padding-top: 0;
  
      &:hover  {
        .food-category__background {
          filter: brightness(0.7);
          transform: scale(1.1);
        }
      }
  
    
      .food-category__background {
        pointer-events: none;
        transition: 0.2s ease-in-out;
        filter: brightness(0.4);
        height: 100%;
        width: 100%;
        position: absolute;
        background-position: center;
        background-size: cover;
      }
    }
  }

}
