@import "../../../style/colors/colors.scss";

#home {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: flex;

  .food-category {
    cursor: pointer;
    position: relative;
    transition: transform 0.2s, width 0.8s;
    overflow: hidden;

    &:hover  {
      .food-category__background {
        filter: brightness(0.7);
        transform: scale(1.1);
      }
    }

  
    .food-category__background {
      pointer-events: none;
      transition: 0.2s ease-in-out;
      filter: brightness(0.4);
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }

}
