@import "../../../style/colors/colors.scss";

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%,#000000e7 100%);
  color: $beige;

  h1 {
    padding: 50px;
    text-transform: uppercase;
  }

  .itemsCounter {
    border-radius: 100%;
    height: 23px;
    width: 23px;
    background-color: red;
    position: absolute;
    top: -25px;
    left: -25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    height: 100px;
    top: 10px;
    left: 10px;
    position: absolute;
    cursor: pointer;
  }

  .cartButton {
    position: absolute;
    top: 50px;
    right: 30px;
    cursor: pointer;

    .fa-shopping-cart {
      color: $beige;
    }
  }
}