@import "../../../style/colors/colors.scss";

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 170px;
  width: 100%;
  z-index: 10;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%,#000000e7 100%);
  color: $beige;

  h1 {
    padding: 0 80px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    pointer-events: none;
    position: absolute;
    top: 10px;
  }

  svg {
    font-size: 2.5rem;
  }

  .itemsCounter {
    border-radius: 100%;
    position: absolute;
    top: 1px;
    font-size: 1.3rem;
    font-weight: bold;
    left: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    height: 70px;
    top: 15px;
    left: 0;
    position: absolute;
    cursor: pointer;
  }

  .cartButton {
    position: absolute;
    top: 30px;
    right: 15px;
    cursor: pointer;

    .fa-shopping-cart {
      color: $beige;
    }
  }

  @media screen and (min-width: 760px) {
    img {
      height: 100px;
    }

    svg {
      font-size: 3rem;
    }

    .cartButton {
      right: 30px;
    }

    .itemsCounter {
      position: absolute;
      top: 5px;
      left: 26px;
    }
  }
}