@import "../../../style/colors/colors.scss";

@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);
$fontSans : 'Montserrat',
sans-serif;
$fontSerif : 'Droid Serif',
serif;


@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

* {
  box-sizing: border-box;
}

#cart {
  background-color: $level4;
  overflow: hidden;

  h2 {
    font-size: 2rem;
    color: $red;
    padding: 20px;
    text-transform: uppercase;
    border: 1px solid $beige;
    border-radius: 5px;
    width: fit-content;
    margin: 5rem auto;
  }

  .cartWrap {
    padding: 0;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    color: $red;
  }

  img {
    max-width: 100%;
  }

  .cf:before,
  .cf:after {
    content: " ";
    display: table;
  }

  .cf:after {
    clear: both;
  }

  .cf {
    *zoom: 1;
  }


  .wrap {
    width: 75%;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 5em;
    background-color: $level1;
    
    padding: 20px;
    border-radius: 5px;
  }

  .projTitle {
    font-family: $fontSans;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    padding: 1em 0;
    border-bottom: 1px solid #dadada;
    letter-spacing: 3px;
    text-transform: uppercase;

    span {
      font-family: $fontSerif;
      font-weight: normal;
      font-style: italic;
      text-transform: lowercase;
      color: $beige;

    }
  }

  // CART HEADER
  .heading {
    padding: 1em 0;
    border-bottom: 1px solid $beige;

    h1 {
      font-family: $fontSerif;
      font-size: 2em;
      float: left;
      color: $beige;
      font-family: 'lato';
    }

    a.continue {

      &:link,
      &:visited {
        text-decoration: none;
        font-family: $fontSans;
        letter-spacing: -.015em;
        font-size: .75em;
        padding: 1em;
        color: #fff;
        background: $green;
        font-weight: bold;
        border-radius: 50px;
        float: right;
        text-align: right;
        @include transition(all, .25s, linear);
      }

      &:after {
        content: "\276f";
        padding: .5em;
        position: relative;
        right: 0;
        @include transition(all, .15s, linear);

      }

      &:hover,
      &:focus,
      &:active {
        background: $red;

        &:after {
          right: -10px;
        }
      }
    }
  }

  // TABLE HEADING 

  .tableHead {
    display: table;
    width: 100%;
    font-family: $fontSans;
    font-size: .75em;

    li {
      display: table-cell;
      padding: 1em 0;
      text-align: center;
      color: $beige;

      &.prodHeader {
        text-align: left;
      }
    }
  }

  // CART Items

  .cart {
    padding: 1em 0;

    .items {
      display: block;
      width: 100%;
      padding: 1.5em;
      border-radius: 3px;
      margin: 20px 0;

      &.even {
        background: $level2;
      }

      &.odd {
        background: $level4;
      }

      .quantityStock {
        display: flex;
        align-items: center;
        justify-content: center;

        .quantityManager {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 30px;

          .fa-plus:hover {
            color: $green;
          }

          .fa-minus:hover {
            color: $red;
          }

          svg {
            margin: 0 3px;
            cursor: pointer;
            transition: .2s;
            
            &:hover {
              color: green;
            }
          }
        }
      }

      .infoWrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

              .itemNumber {
          font-size: .75em;
          color: $beige;
          margin-bottom: .5em;
        }

        h3 {

          font-size: 1em;
          font-family: $fontSans;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: .025em;
          color: $beige;

        }

        p, .quantityManager {
          display: inline-block;
          font-size: .85em;

          color: $beige;
          font-family: $fontSans;

          .quantity {
            font-weight: bold;
            color: $beige;
          }

          &.stockStatus {
            color: $green;
            font-weight: bold;
            text-transform: uppercase;
            display: flex;
            align-items: center;

            &.out {
              color: $red;
            }
          }

        }

        .qtyWrap,
        .prodTotal {
          text-align: center;

          p {
            font-weight: bold;
            font-size: 1.25em;
          }

        }

        input.qty {
          width: 2em;
          text-align: center;
          font-size: 1em;
          padding: .25em;
          border-radius: 5px;
          border: none;
        }

      .cartSection {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: space-around;

        &.title {
          justify-content: flex-start;
        }

        .itemImg {
          width: 15rem;
          height: 10rem;
          border-radius: 5px;
          background-position: center;
          background-size: cover;
          display: inline;
          margin-right: 1em;
        }


      }
    }

  }

  .special {
    display: block;
    font-family: $fontSans;

    .specialContent {
      padding: 1em 1em 0;
      display: block;
      margin-top: .5em;
      border-top: 1px solid #dadada;

      &:before {
        content: "\21b3";
        font-size: 1.5em;
        margin-right: 1em;
        color: #6f6f6f;
        font-family: helvetica, arial, sans-serif;
      }
    }

  }

  a.remove {
    text-decoration: none;
    font-family: $fontSans;
    color: #ffffff;
    font-weight: bold;
    background: #e0e0e0;
    padding: .5em;
    font-size: .75em;
    display: inline-block;
    border-radius: 100%;
    line-height: .85;
    @include transition(all, .25s, linear);

    &:hover {
      background: #f30;
    }
  }

  .promoCode {
    border-radius: 5px;
    border: 2px solid #efefef;
    float: left;
    width: 35%;
    padding: 2%;

    label {
      display: block;
      width: 100%;
      font-style: italic;
      font-size: 1.15em;
      color: $grey;
      margin-bottom: .5em;
      letter-spacing: -.025em;

    }

    input {
      width: 85%;
      font-size: 1em;
      padding: .6em;
      float: left;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: 1px solid #dadada;

      &:active,
      &:focus {
        outline: 0;

      }
    }

    a.btn {
      float: left;
      width: 15%;
      padding: .5em 0;
      border-radius: 0 5px 5px 0;
      text-align: center;
      border: 1px solid $green;

      &:hover {
        border: 1px solid $red;
        background: $red;
      }
    }
  }

  .btn {

    &:link,
    &:visited {
      text-decoration: none;
      font-family: $fontSans;
      letter-spacing: -.015em;
      font-size: 1em;
      padding: 1em 3em;
      color: #fff;
      background: $green;
      font-weight: bold;
      border-radius: 50px;
      float: right;
      text-align: right;
      @include transition(all, .25s, linear);
    }

    &:after {
      content: "\276f";
      padding: .5em;
      position: relative;
      right: 0;
      @include transition(all, .15s, linear);

    }

    &:hover,
    &:focus,
    &:active {
      background: $red;

      &:after {
        right: -10px;
      }
    }

    .promoCode & {
      font-size: .85em;
      paddding: .5em 2em;
    }
  }

  /* TOTAL AND CHECKOUT  */
  .subtotal {
    float: right;
    width: 35%;

    ul {
      list-style-type: none;
    }

    .totalRow {
      padding: .5em;
      text-align: right;

      &.final {
        font-size: 1.25em;
        font-weight: bold;
        color: $beige;
      }

      span {
        display: inline-block;
        padding: 0 0 0 1em;
        text-align: right;

      }

      .label {
        font-family: $fontSans;
        font-size: .85em;
        text-transform: uppercase;
        color: #777;
      }

      .value {

        letter-spacing: -.025em;
        width: 35%;
      }
    }
  }

  @media only screen and (max-width:39.375em) {

    .wrap {
      width: 98%;
      padding: 2% 0;
    }

    .projTitle {
      font-size: 1.5em;
      padding: 10% 5%;
    }

    .heading {
      padding: 1em;
      font-size: 90%;
    }

    .cart {
      .items {

        &.qtyWrap {
          width: 10%;
          text-align: center;
          padding: .5em 0;
          float: right;

          &:before {
            content: "QTY";
            display: block;
            font-family: $fontSans;
            padding: .25em;
            font-size: .75em;
          }
        }

        .cartSection {
          display: flex;
          flex: 1;
          justify-content: space-around;


          &.prodTotal,
          &.removeWrap {
            display: none;
          }

          .itemImg {
            width: 25%;
          }
        }
      }
    }

    .promoCode,
    .subtotal {
      width: 100%;
    }

    a.btn.continue {
      width: 100%;
      text-align: center;
    }
  }
}